<h1>Please Sign up</h1>
<p><%= session[:validSign]%></p>
<form action="/signup", method="post">
    Set Username: <input type="text" name="username"><br>
    <br>
    Set Password: <input type="text" name="password"><br>
    <br>
    <input type="submit" name="submit">
</form>